.btn {
  transition: all .2s ease-in-out;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  opacity: 1;
}

.error {
  margin-top: 3px;
  margin-left: 10px;
  color:#EA6153;
  font-weight: 500;
}