@import '~@kickup/pulse-ui/src/css/globals.less';

//Collection
.collections {
  border: 2px solid @gray-light;
  display: flex;
  &__list {
    position: relative;
    min-width: 190px;
    border-right: 2px solid @gray-light;
  }
  &__item {
    font-weight: 500;
    padding: 10px;
    border-bottom: 1px solid @gray-light;
    border-left: 2px solid transparent;
    cursor: pointer;
    &:hover { border-left-color: fadeout(@gray-light, 20%);}
    &.active { border-left: 4px solid fadeout(@orange, 50%); margin-left: -2px }
  }
  &__reports {
    flex-grow: 1;
  }
  &__add-collection, &__add-report {
    display: block;
    margin: 20px auto !important;
    width: 95%;
  }
}

//Tag View
.tags {
  .search-box { height: 34px; }
  &__tag-list {
    margin: 10px 0;
    display: flex;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    label { display: inline-block; margin-right: 5px; }
  }
  &__tag { cursor: pointer; }
  &__all { margin-bottom: 0 !important; }
}

//Folder View

.folders {
  &__grid { display: flex; flex-direction: row; flex-flow: row wrap; align-content: flex-end;}
  &__grid-item {
    text-align: center;
    width: 20%;
    //flex-grow:3;
    margin: 10px;
    cursor: pointer;
  }
  &__grid-icon {
    position: relative;
    pointer-events: none;
    display: inline-block;
    max-width: 35px;
    img { width: 100%; height: auto; }
  }
}

.report-list {
  * { border: none; };
  thead th {
    background: @gray-light;
    border-bottom: 2px solid darken(@gray-light, 5%);
    font-weight: 700;
    &:last-child { text-align: center; border-right: none; }
  }
  tr {
    background: transparent !important;
    border-bottom: none;
  }
  td:first-child {
    vertical-align: top;
  }
  td:last-child { border-right: none;}
}

//Report Item Recreation
.report-item {
  // display: flex;
  align-items: center;
  padding: 10px;
  border-top: 2px solid @gray-light;
  vertical-align: center;
  &__content {
    flex-grow: 1;
    // display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__tags { width: 250px;}
  &__icon {
    display: flex;
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 50%;
    border: 2px solid darken(@gray-light, 5%);
    background: @gray-light;
    align-items: center;
    justify-content: center;
    img { width: 90%; }
  }
  &__sharing {
    display: flex;
    align-items: center;
    > * { margin-right: 10px; }
  }
  &__title {
    margin: 0px;
  }
  &__action {
    width: 200px;
    .btn { margin-bottom: 0 !important; }
  }
  p { margin: 0; }
}