.ku-header {
  position: relative;
  z-index: 4;
  display: flex;
  background-repeat: no-repeat;
  background-size: 125px auto;
  background-position: center center;
  background-color: white;
  border-bottom: 2px solid rgba(187, 187, 187, 0.9);
  justify-content: space-between;
}

.ku-header {
  position: fixed;
  top: 0;
  margin-top: -72px;
  width: 100vw;
  transition: all .1s ease-in-out;
}
.ku-header.fixed {
  margin-top: 0;
}

.ku-header-toggle {
  padding: 25px;
  display: block;
  border-right: 1px solid #eee;
  font-weight: 700;
}

.ku-header-toggle a:hover { text-decoration: none; }

.ku-header-logo { display: block; }
.ku-header-log img { max-width: 125px;}

.ku-header-profile {
  display: block;
  padding: 7px 15px;
  border-left: 1px solid #eee;
}
.ku-header-profile-image {
  display: inline-block;
  max-width: 45px;
  margin: 5px 10px 5px 0;
  border: 2px solid rgba(187, 187, 187, 0.9);
  border-radius: 50%;
  vertical-align: top;
}
.ku-header-profile-name {
  display: inline-block;
  margin-top: 5px;

}
.ku-header-profile-name > * { margin: 5px 0;}
.ku-header-profile-toggle {
  display: inline-block;
  margin-top:15px;
  width: 30px;
  text-align: center;
  vertical-align: top;
}
