.report-builder {
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.report-builder .block-flat { margin-left: 20px; margin-right: 20px;}
.section-builder { padding: 20px; }
    .section-builder-editor {
      vertical-align: top;
      display: inline-block;
      padding: 10px;
      width: calc(100% - 310px);
      border: dashed 2px rgba(0,0,0, .05);
      background: #eee;
      border-radius: 3px;
    }
    .section-builder-editor .block-flat { margin-bottom: 10px; }
    .section-builder-widget-area { margin-top: 10px; }
    .section-builder-widget-area-drop-zone {
      border: dashed 2px rgba(0,0,0, .05);
      background: #eee;
      border-radius: 3px;
      padding: 10px;
    }
    .section-builder-editor-initial-content {
      color: #bbb;
      display: block;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      margin: 20px;
    }
    .section-builder-toolbar {
      vertical-align: top;
      display: inline-block;
      padding: 0 10px;
      width: 300px;
    }
    .section-builder-toolbar h5 { color: #999; }
    .section-builder-new {
      border: 1px solid #eee;
      padding: 10px;
      margin-bottom: 5px;
      cursor: grab;
      cursor: -moz-grab;
      cursor: -webkit-grab;
      border-radius: 3px;
    }
    .section-builder-new-title,
    .section-builder-widget-title {
      display: table-cell;
      color: #666;
      padding-left: 10px;
      font-size: 14px;
      font-weight: 700;
      vertical-align: middle;
    }
    .section-builder-new-icon,
    .section-builder-widget-icon {
      display: table-cell;
      min-height: 30px;
      min-width: 30px;
      background: url('/public/pulse-ui/images/ratings-heatmap-icon.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      vertical-align: top;
    }

    .section-builder-widget-icon.section, .section-builder-new-icon.section {background-image: url('/pulse-ui/images/section-icon.svg');}
    .section-builder-widget-icon.heatmap, .section-builder-new-icon.heatmap {background-image: url('/pulse-ui/images/ratings-heatmap-icon.svg');}
    .section-builder-widget-icon.comparison-chart, .section-builder-new-icon.comparison-chart {background-image: url('/pulse-ui/images/comparison-chart-icon.svg');}
    .section-builder-widget-icon.possible-leaders, .section-builder-new-icon.possible-leaders {background-image: url('/pulse-ui/images/possible-leaders-icon.svg');}
    .section-builder-widget-icon.interests, .section-builder-new-icon.interests {background-image: url('/pulse-ui/images/interests-icon.svg');}
    .section-builder-widget-icon.multiple-choice, .section-builder-new-icon.multiple-choice {background-image: url('/pulse-ui/images/multiple-choice-icon.svg');}
    .section-builder-widget-icon.open-responses, .section-builder-new-icon.open-responses {background-image: url('/pulse-ui/images/open-responses-icon.svg');}
    .section-builder-widget-icon.all-table, .section-builder-new-icon.all-table {background-image: url('/pulse-ui/images/all-table-icon.svg');}
    .section-builder-widget-icon.successes-and-needs, .section-builder-new-icon.successes-and-needs {background-image: url('/pulse-ui/images/success-and-needs-icon.svg');}

    .section-builder-widget-area .section-builder-new {
      padding: 0;
    }
    .section-builder-new-header {
      padding: 10px;
    }

    .section-builder-widget-icon {
       display: inline-block;
       width: 30px;
    }

    .section-builder-widget-title {
      display: inline-block;
      width: calc(100% - 65px);
    }

    .section-builder-widget-btn {
      display: inline-block;
      width: 25px;
      color: #666;
    }
    .section-builder-widget-config {
      margin-top: 10px;
      padding: 20px;
      border-top: dotted 3px #eee;
    }