@import '~@kickup/pulse-ui/src/css/globals.less';

.directory-header {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  &__title { flex-grow: 1; }
  &__link {
    & + & { margin-left: 20px; }
    &:not(.btn) {
      position: relative;
      text-decoration: none;
      &:after {
        content: "";
        position:absolute;
        width: 0%;
        background: @gray-medium;
        height: 3px;
        bottom: -7px;
        left: 0;
        right: 0;
        margin: auto;
        transition: width .1s ease-in-out;
      }
      &:hover:after {
        width: 75%;
      }
    }
  }
}

.directory-search {
  display: flex;
  &__input { flex-grow: 1; }
}

.directory-type-filter {
  margin-top: 10px;
}