@import '~@kickup/pulse-ui/src/css/globals.less';

.permission-table-row {
  border: 2px solid transparent;
  &:first-child { td { border-top: 2px solid @gray-light;} }
  td {
    border: 2px solid transparent;
    &:first-child { border-left: 2px solid transparent;}
  }
  td.td-button{
    .td-button-wrapper {
      display: flex;
      align-items: center;
    }
    &:hover  {
      animation-name: borderChange;
      animation-duration: .3s;
      border: 2px solid @pulse-blue;
      .btn-huge__title:after {
        background: @pulse-blue;
      }
    }
  }
}

@keyframes borderChange {
  from { border: 2px solid transparent; }
  to { border: 2px solid lighten(@pulse-blue, 5%); }
}
